<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CarMapper">

    <select id="search" resultType="com.example.demo.bean.Car">
        SELECT * FROM car
        <where>
            <if test="make != null">
                make = #{make}
            </if>
            <if test="model != null">
                model = #{model}
            </if>
        </where>
    </select>

</mapper>